h1 {
  text-align: center;
}
#entete {
  border: 1px solid black;
  background-color: aqua;
}


#divContainer{
  border: 2px solid red ;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap : 10px ; 
}

.yellow{
background-color: yellow;
}
.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.green{
  background-color: green;
}
.orange{
  background-color: orange;
}
.purple{
  background-color: purple;
}
.pink{
  background-color: pink;
}
.brown{
  background-color: brown;
}

.not-revealed {
  background-color: grey ;
}

.tileDiv
{
  /*background-color: grey ;*/
}